{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <a href="{% url 'product_create' %}" class="btn btn-primary pull-right">Crear producto</a>
                    <h4 class="card-title">Productos</h4>
                </div>
                <div class="card-header">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags %}
                            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <i class="material-icons">close</i>
                                </button>
                                <span>{{ message }}</span>
                          </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </div>
                <div class="card-body">
                    <form method="GET">
                        <div class="form-row">
                            <div class="col-6">
                                <h5>Filtrar por talla:</h5>
                                <input type="text" name="size" placeholder="Talla" class="form-control">
                                <button type="submit" class="btn btn-primary pull-left">Aplicar Filtro<div class="ripple-container"></div></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>#</th>
                                <th>Descripción</th>
                                <th>Precio</th>
                                <th>Talla</th>
                                <th>Color</th>
                                <th>Stock</th>
                                <th>Marca</th>
                            </thead>
                            <tbody>
                            {% for product in products %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ product.description }}</td>
                                <td>{{ product.price }}</td>
                                <td>{{ product.size }}</td>
                                <td>{{ product.color }}</td>
                                <td>{{ product.stock }}</td>
                                <td>{{ product.brand }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
